!*.c
!*.h
*.log
*.plg
*.bak
*.dep
*.uvgui.*
*.uvguix*
*.uvproj*
JLinkLog.txt
*.o
*.d
*.crf
*.tra
*.axf
*.hex
*.lnp
*.sct
*.__i
*.htm
/Obj
/Libraries/CMSIS/*
!/Libraries/CMSIS/Device/
!/Libraries/CMSIS/Include/
